.jumbotron{
    background-color: rgb(226, 74, 14);
    color: black;
}
footer{
    background-color: rgba(230, 108, 59, 0.904);
    color: black;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.btn-pie{
    width: 100%;
}